(
    jump_table_ids: [
        0,
        3,
    ],
    literal_tag: 0,
    variable_tag: 2,
    named_variables: {
        0: "StoredRegister",
        1: "Angle",
        2: "ActionFlag",
        3: "PlayerVal0",
        4: "PlayerVal1",
        5: "PlayerVal2",
        6: "PlayerVal3",
        7: "PlayerVal4",
        8: "PlayerVal5",
        9: "PlayerVal6",
        10: "PlayerVal7",
        11: "SpeedX", 
        12: "SpeedY",
        13: "ActionTime",
        14: "PosX",
        15: "PosY",
        16: "Inertia",
        17: "FacingRight",
        18: "DistanceToFrontWall",
        19: "DistanceToBackWall",
        20: "IsAir",
        21: "IsLand",
        22: "IsStunned",
        23: "IsKnockedDown",
        24: "HasHit",
        25: "IsAttacking",
        26: "Health",
        27: "Meter",
        28: "DefaultCommonAction",
    },
    named_value_maps: {
        "ActionFlags": {
            1: "Standing",
            2: "Crouching",
            4: "Jumping",
        },
        "EntryState": {
            0: "None",
            1: "Standing",
            2: "Crouching",
            3: "Jumping",
        },
        "InputFlags": {
            1: "InputUp",
            2: "InputDown",
            4: "InputLeft",
            5: "InputUpLeft",
            6: "InputDownLeft",
            8: "InputRight",
            9: "InputUpRight",
            10: "InputDownRight",
            16: "InputNeutral",
            32: "InputL",
            64: "InputM",
            128: "InputH",
            256: "InputS",
            512: "InputA1",
            1024: "InputA2",
            2048: "InputDash",
        },
        "InputMethod": {
        	0: "Normal",
            1: "Strict",
            2: "Once",
            3: "OnceStrict",
        },
        "StateType": {
            0: "Standing",
            1: "Crouching",
            2: "NeutralJump",
            3: "ForwardJump",
            4: "BackwardJump",
            5: "ForwardWalk",
            6: "BackwardWalk",
            7: "ForwardDash",
            8: "BackwardDash",
            9: "ForwardAirDash",
            10: "BackwardAirDash",
            11: "NormalAttack",
            12: "NormalThrow",
            13: "SpecialAttack",
            14: "SuperAttack",
            15: "Hitstun",
            16: "Blockstun",
            17: "Tech",
            18: "Parry",
            19: "Burst",
        },
        "EnableFlags": {
            1: "Standing",
            2: "Crouching",
            4: "Jumping",
            8: "ForwardWalk",
            16: "BackwardWalk",
            32: "ForwardDash",
            64: "BackwardDash",
            128: "ForwardAirDash",
            256: "BackwardAirDash",
            512: "NormalAttack",
            1024: "SpecialAttack",
            2048: "SuperAttack",
            4096: "Block",
            8192: "Tech",
            16384: "Parry",
        },
        "StateCondition": {
            0: "None",
            1: "AirJumpOk",
            2: "AirJumpMinimumHeight",
            3: "AirDashOk",
            4: "AirDashMinimumHeight",
            5: "IsAttacking",
            6: "HitstopCancel",
            7: "IsStunned",
            8: "CloseNormal",
            9: "FarNormal",
            10: "MeterNotZero",
            11: "MeterQuarterBar",
            12: "MeterHalfBar",
            13: "MeterOneBar",
            14: "MeterTwoBars",
            15: "MeterThreeBars",
            16: "MeterFourBars",
            17: "MeterFiveBars",
            18: "UniversalGaugeOneBar",
            19: "UniversalGaugeTwoBars",
            20: "UniversalGaugeThreeBars",
            21: "UniversalGaugeFourBars",
            22: "UniversalGaugeFiveBars",
            23: "UniversalGaugeSixBars",
        },
        "Operation": {
            0: "OP_Add",
            1: "OP_Sub",
            2: "OP_Mul",
            3: "OP_Div",
            4: "OP_Mod",
            5: "OP_And",
            6: "OP_Or",
            7: "OP_BitwiseAnd",
            8: "OP_BitwiseOr",
            9: "OP_IsEqual",
            10: "OP_IsGreater",
            11: "OP_IsLesser",
            12: "OP_IsGreaterOrEqual",
            13: "OP_IsLesserOrEqual",
            14: "OP_BitDelete",
            15: "OP_IsNotEqual",
        },
        "PlayerStats": {
            0: "PLY_FWalkSpeed",
            1: "PLY_BWalkSpeed",
            2: "PLY_FDashInitSpeed",
            3: "PLY_FDashAccel",
            4: "PLY_FDashMaxSpeed",
            5: "PLY_FDashFriction",
            6: "PLY_BDashSpeed",
            7: "PLY_BDashHeight",
            8: "PLY_BDashGravity",
            9: "PLY_JumpHeight",
            10: "PLY_FJumpSpeed",
            11: "PLY_BJumpSpeed",
            12: "PLY_JumpGravity",
            13: "PLY_SuperJumpHeight",
            14: "PLY_FSuperJumpSpeed",
            15: "PLY_BSuperJumpSpeed",
            16: "PLY_SuperJumpGravity",
            17: "PLY_FAirDashSpeed",
            18: "PLY_BAirDashSpeed",
        },
    },
    instructions: Sized({
        0: (
            size: 68,
            name: "BeginState",
            codeBlock: Begin,
            args: [
                String64,
            ],
        ),
        1: (
            size: 4,
            name: "EndState",
            codeBlock: End,
            args: [],
        ),
        2: (
            size: 72,
            name: "SetCel",
            codeBlock: NoBlock,
            args: [
                String64,
                Number,
            ],
        ),
        3: (
            size: 68,
            name: "BeginSubroutine",
            codeBlock: Begin,
            args: [
                String64,
            ],
        ),
        4: (
            size: 4,
            name: "EndSubroutine",
            codeBlock: End,
            args: [],
        ),
        5: (
            size: 68,
            name: "CallSubroutine",
            codeBlock: End,
            args: [
                String64,
            ],
        ),
        6: (
            size: 100,
            name: "CallSubroutineWithArgs",
            codeBlock: End,
            args: [
                String64,
                AccessedValue,
                AccessedValue,
                AccessedValue,
                AccessedValue,
            ],
        ),
        7: (
            size: 4,
            name: "ExitState",
            codeBlock: NoBlock,
            args: [],
        ),
        8: (
            size: 68,
            name: "JumpToState",
            codeBlock: NoBlock,
            args: [
                String64,
            ],
        ),
        10: (
            size: 4,
            name: "EndBlock",
            codeBlock: End,
            args: [],
        ),
        11: (
            size: 4,
            name: "OnEnter",
            codeBlock: Begin,
            args: [],
        ),
        12: (
            size: 4,
            name: "OnUpdate",
            codeBlock: Begin,
            args: [],
        ),
        13: (
            size: 4,
            name: "OnExit",
            codeBlock: Begin,
            args: [],
        ),
        14: (
            size: 4,
            name: "OnLanding",
            codeBlock: Begin,
            args: [],
        ),
        15: (
            size: 4,
            name: "OnHit",
            codeBlock: Begin,
            args: [],
        ),
        16: (
            size: 4,
            name: "OnBlock",
            codeBlock: Begin,
            args: [],
        ),
        17: (
            size: 4,
            name: "OnHitOrBlock",
            codeBlock: Begin,
            args: [],
        ),
        18: (
            size: 4,
            name: "OnCounterHit",
            codeBlock: Begin,
            args: [],
        ),
        19: (
            size: 4,
            name: "OnSuperFreeze",
            codeBlock: Begin,
            args: [],
        ),
        20: (
            size: 4,
            name: "OnSuperFreezeEnd",
            codeBlock: Begin,
            args: [],
        ),
        50: (
            size: 68,
            name: "BeginLabel",
            codeBlock: NoBlock,
            args: [
                String64,
            ],
        ),
        51: (
            size: 8,
            name: "EndLabel",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        52: (
            size: 68,
            name: "GotoLabel",
            codeBlock: NoBlock,
            args: [
                String64,
            ],
        ),
        53: (
            size: 12,
            name: "If",
            codeBlock: Begin,
            args: [
                AccessedValue,
            ],
        ),
        54: (
            size: 4,
            name: "EndIf",
            codeBlock: End,
            args: [],
        ),
        55: (
            size: 24,
            name: "IfOperation",
            codeBlock: Begin,
            args: [
                Enum("Operation"),
                AccessedValue,
                AccessedValue,
            ],
        ),
        56: (
            size: 12,
            name: "IfNot",
            codeBlock: Begin,
            args: [
                AccessedValue,
            ],
        ),
        57: (
            size: 4,
            name: "Else",
            codeBlock: Begin,
            args: [],
        ),
        58: (
            size: 4,
            name: "EndElse",
            codeBlock: End,
            args: [],
        ),
        59: (
            size: 76,
            name: "GotoLabelf",
            codeBlock: NoBlock,
            args: [
                String64,
                AccessedValue,
            ],
        ),
        60: (
            size: 88,
            name: "GotoLabelIfOperation",
            codeBlock: NoBlock,
            args: [
                String64,
                Enum("Operation"),
                AccessedValue,
                AccessedValue,
            ],
        ),
        61: (
            size: 76,
            name: "GotoLabelfNot",
            codeBlock: NoBlock,
            args: [
                String64,
                AccessedValue,
            ],
        ),
        70: (
            size: 8,
            name: "GetPlayerStats",
            codeBlock: NoBlock,
            args: [
                Enum("PlayerStats"),
            ],
        ),
        75: (
            size: 24,
            name: "ModifyInternalValue",
            codeBlock: NoBlock,
            args: [
                Enum("Operation"),
                AccessedValue,
                AccessedValue,
            ],
        ),
        76: (
            size: 20,
            name: "StoreInternalValue",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
                AccessedValue,
            ],
        ),
        77: (
            size: 32,
            name: "ModifyInternalValueAndSave",
            codeBlock: NoBlock,
            args: [
                Enum("Operation"),
                AccessedValue,
                AccessedValue,
                AccessedValue,
            ],
        ),
        100: (
            size: 12,
            name: "SetPosX",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        101: (
            size: 12,
            name: "AddPosX",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        102: (
            size: 12,
            name: "AddPosXRaw",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        105: (
            size: 12,
            name: "SetPosY",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        106: (
            size: 12,
            name: "AddPosY",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        109: (
            size: 12,
            name: "SetSpeedX",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        110: (
            size: 12,
            name: "AddSpeedX",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        111: (
            size: 12,
            name: "SetSpeedY",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        112: (
            size: 12,
            name: "AddSpeedY",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        113: (
            size: 12,
            name: "SetSpeedXPercent",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        114: (
            size: 12,
            name: "SetSpeedXPercentPerFrame",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        120: (
            size: 12,
            name: "SetGravity",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        121: (
            size: 12,
            name: "AddGravity",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        125: (
            size: 12,
            name: "SetInertia",
            codeBlock: NoBlock,
            args: [
                AccessedValue,
            ],
        ),
        126: (
            size: 4,
            name: "EnableInertia",
            codeBlock: NoBlock,
            args: [],
        ),
        126: (
            size: 4,
            name: "AddInertia",
            codeBlock: NoBlock,
            args: [],
        ),
        127: (
            size: 8,
            name: "EnableInertia",
            codeBlock: NoBlock,
            args: [],
        ),
        150: (
            size: 4,
            name: "HaltMomentum",
            codeBlock: NoBlock,
            args: [],
        ),
        151: (
            size: 4,
            name: "ClearInertia",
            codeBlock: NoBlock,
            args: [],
        ),
        200: (
            size: 8,
            name: "SetActionFlags",
            codeBlock: NoBlock,
            args: [
                Enum("ActionFlags"),
            ],
        ),
        550: (
            size: 8,
            name: "AddAirJump",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        551: (
            size: 8,
            name: "AddAirDash",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        554: (
            size: 8,
            name: "SetAirDashTimer",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        900: (
            size: 4,
            name: "CheckInput",
            codeBlock: NoBlock,
            args: [],
        ),
        901: (
            size: 8,
            name: "CheckInputRaw",
            codeBlock: NoBlock,
            args: [
                Enum("InputFlags"),
            ],
        ),
        910: (
            size: 4,
            name: "MakeInput",
            codeBlock: NoBlock,
            args: [],
        ),
        911: (
            size: 8,
            name: "MakeInputSequenceBitmask",
            codeBlock: NoBlock,
            args: [
                Enum("InputFlags"),
            ],
        ),
        912: (
            size: 8,
            name: "MakeInputLenience",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        913: (
            size: 8,
            name: "MakeInputImpreciseCount",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        914: (
            size: 8,
            name: "MakeInputAllowDisable",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        915: (
            size: 8,
            name: "MakeInputMethod",
            codeBlock: NoBlock,
            args: [
                Enum("InputMethod"),
            ],
        ),
        1000: (
            size: 68,
            name: "BeginStateDefine",
            codeBlock: Begin,
            args: [
                String64,
            ],
        ),
        1001: (
            size: 4,
            name: "EndStateDefine",
            codeBlock: End,
            args: [],
        ),
        1002: (
            size: 8,
            name: "SetStateType",
            codeBlock: NoBlock,
            args: [
                Enum("StateType"),
            ],
        ),
        1003: (
            size: 8,
            name: "SetEntryState",
            codeBlock: NoBlock,
            args: [
                Enum("EntryState"),
            ],
        ),
        1004: (
            size: 4,
            name: "AddInputCondition",
            codeBlock: NoBlock,
            args: [],
        ),
        1005: (
            size: 4,
            name: "AddInputConditionList",
            codeBlock: NoBlock,
            args: [],
        ),
        1006: (
            size: 8,
            name: "AddStateCondition",
            codeBlock: NoBlock,
            args: [
                Enum("StateCondition"),
            ],
        ),
        1007: (
            size: 8,
            name: "IsFollowupMove",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        1008: (
            size: 8,
            name: "SetStateObjectID",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        1009: (
            size: 68,
            name: "SetParentState",
            codeBlock: Begin,
            args: [
                String64,
            ],
        ),
        1200: (
            size: 8,
            name: "EnableState",
            codeBlock: NoBlock,
            args: [
                Enum("EnableFlags"),
            ],
        ),
        1201: (
            size: 8,
            name: "DisableState",
            codeBlock: NoBlock,
            args: [
                Enum("EnableFlags"),
            ],
        ),
        1202: (
            size: 4,
            name: "EnableAll",
            codeBlock: NoBlock,
            args: [],
        ),
        1203: (
            size: 4,
            name: "DisableAll",
            codeBlock: NoBlock,
            args: [],
        ),
        1204: (
            size: 8,
            name: "EnableFlip",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
        1205: (
            size: 8,
            name: "ForceEnableFarNormal",
            codeBlock: NoBlock,
            args: [
                Number,
            ],
        ),
    }),
)